{% extends 'index.html' %}

{% load static %}
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/dashboard.css' %}?v2.5">
{% endblock %}

{% block content %}
  <main>
    <section class="botones">
      <div class="botonesdos">
        <!-- Botones accesibles para todos los usuarios -->
        <div class="boton1 Citas">
          <a href="{% url 'crearcitas' %}">
            <div class="boton">
              <div class="text">
                <p>NUEVA CITA</p>
                <h3>AGENDAR</h3>
              </div>
              <hr/>
              <div class="icon">
                <i class="fa-solid fa-clock"></i>
              </div>
            </div>
          </a>

          <a href="{% url 'listcitas' %}">
            <div class="boton">
              <div class="text">
                <p>CITAS</p>
                <h3>REPROGRAMAR O <br> CANCELAR</h3>
              </div>
              <hr/>
              <div class="icon">
                <i class="fa-solid fa-user-clock"></i>
              </div>
            </div>
          </a>
        </div>

        <div class="boton1 Citas">
          <a href="{% url 'listhistorias' %}">
            <div class="boton">
              <div class="text">
                <p>CLINICAS</p>
                <h3>HISTORIAS</h3>
              </div>
              <hr/>
              <div class="icon">
                <i class="fa-solid fa-book-medical"></i>
              </div>
            </div>
          </a>

          <a href="{% url 'configuracion' id=user.id %}">
            <div class="boton">
              <div class="text">
                <h3>CONFIGURACIÓN</h3>
              </div>
              <hr/>
              <div class="icon">
                <i class="fa-solid fa-gear"></i>
              </div>
            </div>
          </a>
        </div>

        <!-- Botones solo para superusuarios -->
        {% if user.is_superuser %}
        <div class="boton1 Citas">
          <a href="{% url 'crearfechas' %}">
            <div class="boton">
              <div class="text">
                <p>FECHAS</p>
                <h3>AGREGAR </h3>
              </div>
              <hr/>
              <div class="icon">
                <i class="fa-solid fa-calendar-days"></i>
              </div>
            </div>
          </a>

          <a href="{% url 'listfechas' %}">
            <div class="boton">
              <div class="text">
                <p>FECHAS</p>
                <h3>LISTA</h3>
              </div>
              <hr/>
              <div class="icon">
                <i class="fa-solid fa-list"></i>
              </div>
            </div>
          </a>
        </div>

        <div class="boton1 Citas">
          <a href="{% url 'crearcuentas' %}">
            <div class="boton">
              <div class="text">
                <p>CUENTA</p>
                <h3>CREAR </h3>
              </div>
              <hr/>
              <div class="icon">
                <i class="fa-solid fa-user-plus"></i>
              </div>
            </div>
          </a>

          <a href="{% url 'listcuentas' %}">
            <div class="boton">
              <div class="text">
                <p>CUENTAS</p>
                <h3>PACIENTES</h3>
              </div>
              <hr/>
              <div class="icon">
                <i class="fa-solid fa-users"></i>
              </div>
            </div>
          </a>
        </div>

        <div class="boton1 Citas">
          <a href="{% url 'crearhistorias' %}">
            <div class="boton">
              <div class="text">
                <p>HISTORIAS</p>
                <h3>CREAR </h3>
              </div>
              <hr/>
              <div class="icon">
                <i class="fa-solid fa-file-medical"></i>
              </div>
            </div>
          </a>

          <a href="{% url 'listelementos' %}">
            <div class="boton">
              <div class="text">
                <h3>INVENTARIO</h3>
              </div>
              <hr/>
              <div class="icon">
                <i class="fa-solid fa-boxes-stacked"></i>
              </div>
            </div>
          </a>
        </div>
        {% endif %}
      </div>
    </section>
  </main>
{% endblock %}

{% block extra_js %}
{% endblock %}