{% extends 'index.html' %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/gmail.css' %}?v1.1">
{% endblock %}

{% block titulo %}
GMAIL - CORREOS
{% endblock %}

{% block content %}

<div class="email-container">
    <div class="card inbox">
        <div class="card-body">
            <h4 class="card-title">Bandeja de Entrada</h4>
            <ul>
                {% for email in email_list %}
                    <li>
                        <h5 class="mb-1">{{ email.subject }}</h5>
                        <p class="mb-1">{{ email.snippet }}</p>
                    </li> <br>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="card compose-email">
        <div class="card-body">
            <h4 class="card-title">Enviar Nuevo Correo</h4>
            <form method="post" action="{% url 'send_email' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="to">Para:</label>
                    <input type="email" class="form-control" id="to" name="to" required>
                </div>
                <div class="form-group">
                    <label for="subject">Asunto:</label>
                    <input type="text" class="form-control" id="subject" name="subject" required>
                </div>
                <div class="form-group">
                    <label for="body">Mensaje:</label>
                    <textarea class="form-control" id="body" name="body" rows="5" required></textarea>
                </div>
                <a class="btn btn-warning" href="{% url 'dashboard' %}" role="button">Volver</a>
                <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/busqueda.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

{% endblock %}

    
