@import url('https://fonts.googleapis.com/css?family=Fredoka One');

.content{
  width: 100%;
  padding: 0;
  background-color: #D9D9D9;
}

main{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.recordatorio{
  width: 40%;
  max-width: 750px;
  height: 80vh;;
  display: flex;
  flex-direction: column;
  background-color: #CAB97D;
  justify-content: center;
  align-items: center;
}

.agenda{
  background-color: #232323;
  width: 100%;
  height: 50%;
}

.citas{
  background-color: #e40c0c;
  width: 100%;
  height: 50%;
}

.boton{
  display: flex;
  justify-content: center;
  align-items: center;
}

.botones{
  width: 60%;
  height: 80vh;
  justify-content: center;
  align-items: center;
  display: flex;
  padding-top: 25px;
}

.botonesdos{
  width: 88%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.boton1, .boton2, a{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.botonesdos a{
  color: white;
  text-decoration: none;
  display: flex;
  margin: 10px;
  display: flex;
  background-color: #CAB97D;
  border-radius: 10px;
  align-items: center;
  flex: 1;
  text-align: center;
  padding: 10px;
  justify-content: center;
  height: 13vw;
  max-height: 90px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.boton i{
  font-size: clamp(1.1rem, 2vw, 1.3rem);
  margin: 0 15px 0 10px;
  color: white;
  background-color: rgba(212, 194, 149, 1);
  padding: 10px 12px;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.text{
  position: relative;
  text-align: left;
  padding: 0;
  margin-right: 10px;
}

.text p, h3{
  color: white;
  margin: 0;
  padding: 0;
}

.text p{
  font-size: clamp(0.5rem, 2vw, 0.7rem);
}

.text h3{
  font-size: clamp(0.5rem, 2vw, 1rem);
}

.boton hr{
  border: 0.5px solid white;
  margin: 0;
  height: 6vw;
  max-height: 40px;
}

.boton .text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.boton .icon {
  font-size: 1.5em;
}

.returnhome{
  width: 100%;
}