{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}?v1.2">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
{% endblock %}

{% block content %}
<form method="POST" id="citaForm">
  {% csrf_token %}

  <div class="mb-3">
    <label for="fecha" class="form-label">Fecha: </label>
    <input type="text" class="form-control" id="fecha" name="fecha" required>
  </div>

  <div class="mb-3">
    <label class="form-label">Hora: </label>
    <div id="hora" class="form-check">
      <!-- Las opciones se llenarán con JavaScript -->
    </div>
  </div>

  <div class="mb-3">
    <label for="motivo" class="form-label">Motivo: </label>
    <select class="form-select" name="motivo" id="motivo" required>
      {% for value, display_name in form.fields.motivo.choices %}
      <option value="{{ value }}">{{ display_name }}</option>
      {% endfor %}
    </select>

    {% if is_superuser %}
    <div class="mb-3">
      <label for="paciente" class="form-label">Seleccionar Paciente: </label>
      <select class="form-select" name="paciente" id="paciente" required>
        {% for value, display_username in form.fields.paciente.choices %}
        <option value="{{ value }}">{{ display_username }}</option>
        {% endfor %}
      </select>
    </div>
    {% else %}
    <input type="hidden" name="paciente" value="{{ cita.paciente.id }}">
    <p>{{ cita.paciente.get_username }}</p>
    {% endif %}

  </div>
  <button type="submit" class="btn btn-success">Guardar</button>
  <a class="btn btn-warning" href="{% url 'listcitas' %}" role="button">Volver</a>
</form>
{% endblock %}

{% block extra_js %}
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="{% static 'js/citas.js' %}"></script>
<script>
  flatpickr("#fecha", {
    enableTime: false, // No es necesario si solo se necesita fecha
    dateFormat: "Y-m-d", // Formato de fecha a enviar al servidor
    locale: "es", // Configura el idioma
  });
</script>
{% endblock %}