{% extends 'index.html' %}

{% load static %}
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/dashboardDoc.css' %}">
{% endblock %}

{% block content %}
  <main>
    <section class="botones">
      <div class="botonesdos">
        <a href="{% url 'agendarcita' %}">
          <div class="boton">
            <div class="text">
              <p>CITA</p>
              <h3>AGENDAR</h3>
            </div>
            <hr/>
            <div class="icon">
              <i class="fa-solid fa-magnifying-glass"></i>
            </div>
          </div>
        </a>
        
        <a href="{% url 'editarcita' %}">
          <div class="boton">
            <div class="text">
              <p>CITA</p>
              <h3>REPROGRAMAR<br> / CANCELAR</h3>
            </div>
            <hr/>
            <div class="icon">
              <i class="fa-solid fa-x"></i>
            </div>
          </div>
        </a>

        <a href="{% url 'historias' %}">
          <div class="boton">
            <div class="text">
              <p>CLINICA</p>
              <h3>HISTORIA</h3>
            </div>
            <hr/>
            <div class="icon">
              <i class="fa-solid fa-book"></i>
            </div>
          </div>
        </a>

        <a href="{% url 'configuracion' %}">
          <div class="boton">
            <div class="text">
              <p>DATOS</p>
              <h3>CONFIGURACIÓN</h3>
            </div>
            <hr/>
            <div class="icon">
              <i class="fa-solid fa-gear"></i>
            </div>
          </div>
        </a>
      </div>
    </section>

    <aside class="recordatorio">
      <div class="right-column">
        <div class="agenda">
          <h2><i class="fas fa-calendar-alt"></i>Agenda</h2>
          <div id="calendar"> 
          </div>
        </div>
      </div>
    </aside>
  </main>
  {% block extra_js %}
    <script src="{% static 'js/dashboardDoc.js' %}" defer></script> 
  {% endblock %}
{% endblock %}
    

    
