<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DENTAL LAB - S.G</title>
  <link rel="stylesheet" href="..//css/dashboardDoc.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>
  <header>
    <img src="..//img/logo.png" alt="Diente, Logo del laboratorio" title="Logo">
    <h1>LABORATORIO DENTAL</h1>
  </header>

  <main>
    
  </main>
  <script type="module" src="..//js/dashboardDoc.js"></script>
</body>
</html>