<form enctype="multipart/form-data" method="POST">
        {% csrf_token %}
    
        {% for campo in formulario %}
        <div class="mb-3">
            <label for="{{ campo.id_for_label }}" class="form-label">{{ campo.label }}</label>
    
            {% if campo.field.widget.input_type == 'file' and campo.value %}
            <br/>
            <img src="{{ MEDIA_URL }}/imagenes/{{ campo.value }}" width="100" alt="Imagen actual">
            {% endif %}
    
            {% if campo.name == 'categoria' %}
                {{ campo }}
            {% else %}
                <input
                    type="{{ campo.field.widget.input_type }}"
                    class="form-control"
                    name="{{ campo.name }}"
                    id="{{ campo.id_for_label }}"
                    aria-describedby="helpId"
                    placeholder="{{ campo.label }}"
                    value="{{ campo.value|default:'' }}"
                    {% if campo.field.required %}required{% endif %}
                >
            {% endif %}
</div>

<div class="col-12 help-text">{{ campo.errors }}</div>
{% endfor %}

<input
    type="submit"
    class="btn btn-success"
    name=""
    id=""
    value="Enviar Información"
/>
<a
    name=""
    id=""
    class="btn btn-warning"
    href="{% url 'libros' %}"
    role="button"
    >Volver</a
>



</form>