{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block titulo %}Laboratorio Dental{% endblock %}</title>
  {% block css %}
  {% endblock %}
  <link rel="stylesheet" href="{% static '/css/inicio.css' %}"/>
  
</head>
<body>
  <header>
    <img src="{% static 'img\logo.png' %}" alt="Diente, Logo del laboratorio" title="Logo">
    <h1>LABORATORIO DENTAL</h1>
  </header>
  {% block content %}
  <main>
    
    <div class="content">
      <div class="welcome-box">
        <h2>BIENVENIDO AL LABORATORIO DENTAL - SANDRA GAVIRIA</h2>
        <p>En este portal web usted puede agendar, cancelar y/o consultar sus citas. Si tiene alguna duda sobre cómo usarlo, por favor diríjase a la sección de "instrucciones" para poder consultar el manejo de nuestro sitio web.</p>
        <p>Protegemos la Salud de su Sonrisa.</p>
        <div class="buttons">
          <a href="{% url 'loginregister' %}">INGRESAR</a>
        </div>
      </div>
    </div>
    
  </main>
  {% endblock %}
  <script type="module" src="{% static 'js/inicio.js' %}"></script>
  {% block js %}
  {% endblock %}
</body>
</html>

