@import url('https://fonts.googleapis.com/css?family=Fredoka One');

:root {
  --secondary: #e4cf85;
  --dorado: #CAB97D;
  --secondary-light: #383A3F;
  --secondary-light-2: wheat;
  --shadow: 0px 2px 8px 0px var(--secondary-light);
}

*{
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Times New Roman', Times, serif, Helvetica, Arial, sans-serif;
  display: flex;
  min-height: 100%;
  width: 100%;
  background-size: cover;
}

header {
  position: relative;
  background-color: #232323;
  width: fit-content;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}

header h1 {
  writing-mode: vertical-rl;
  letter-spacing: 7px;
  font-size: clamp(0.85rem, 2.5vw, 1.5rem);
  transform: rotate(180deg);
  color: #fff;
  margin: 30px 0 ;
  font-weight: bold;
}

header img {
  width: 8vw;
  max-width: 60px;
}

h1{
  margin: 0;
  color: white;
  font-family: 'Fredoka One';
  letter-spacing: 1.5px;
  font-size: clamp(1.5rem, 2.5vw, 2rem);
}

p{
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 15px 0 20px;
}

.headersup a{
  color: white;
  font-size: 17px;
  text-decoration: none;
  margin: 15px 3px;
}

#home{
  font-size: clamp(0.85rem, 2.5vw, 1.5rem);
  float: left;
  width: 38%;
  margin: 0;
}

#home2{
  display: inline-block;
  font-family: 'Fredoka One';
  font-size: clamp(1.2rem, 2.5vw, 1.5rem);
  padding-left: 50%;
  animation: marquee 15s linear infinite;
  width: fit-content;
  margin-right: 0;
}

.header2{
  height: fit-content;
}

.headersup{
  display: flex;
  background-color: #383A3F;
  color: white;
  justify-content: space-between;
  padding: 15px;
  position: relative;
  width: 100%;
  height: 9vw;
  max-height: 8vh;
  flex-direction: row;
  align-items: center;
}

.headerinf{
  display: flex;
  background-color: #272727;
  color: white;
  position: relative;
  width: 100%;
  height: 7vw;
  max-height: 6vh;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
}

@keyframes marquee {
  from {
      transform: translateX(100%);
  }
  to {
      transform: translateX(-100%);
  }
}


.configuracion i{
  color: white;
  font-size: clamp(1.1rem, 2.5vw, 1.3rem);
  margin: 10px;
}
.notificacion i{
  color: white;
  font-size: clamp(1.1rem, 2.5vw, 1.3rem);
  margin: 0 15px 0 10px;
}

input{
  width: 100%;
  color: #232323;
  font-size: clamp(0.85rem, 2.5vw, 1rem);
  border: none;
  outline: none;
  background: transparent;
}

i{
  font-size: clamp(0.85rem, 2.5vw, 1rem);
  color: #232323;
  cursor: pointer;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  box-shadow: var(--shadow);
  width: 100%;
}

.navbar-list {
  position: relative;
  padding-right: 0.6rem;
  overflow: hidden;
  width: 0;
}


.navbar-list li {
  display: inline-block;
  margin: 0 0.5rem;
}

.navbar-list li a {
  font-size: 1rem;
  font-weight: 500;
  color: var(--black);
  text-decoration: none;
}

.profile-dropdown {
  position: relative;
  width: fit-content;
}

.profile-dropdown-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.9rem;
  font-weight: 500;
  width: 50px;
  border-radius: 50px;
  /* background-color: white;
  box-shadow: var(--shadow); */
  cursor: pointer;
  border: 1px solid var(--secondary);
  transition: box-shadow 0.2s ease-in, background-color 0.2s ease-in,
    border 0.3s;
}

.profile-dropdown-btn:hover {
  background-color: var(--secondary-light-2);
  box-shadow: var(--shadow);
  width: fit-content;
  color: #232323;
  padding-right: 0.5rem;
  span{
    display: contents;
    
  }
}

.profile-dropdown-btn.show-caption {
  background-color: var(--secondary-light-2);
  box-shadow: var(--shadow);
  width: fit-content;
  color: #232323;
  padding-right: 0.5rem;
  span{
    display: contents;
  }
}

.profile-img {
  width: 8vw;
  height: 8vw;
  max-width: 50px;
  max-height: 50px;
  border-radius: 50%;
  background: url(../img/profile-pic.jpg);
  background-size: cover;
}

.profile-img i {
  position: absolute;
  right: 0;
  bottom: 0.3rem;
  font-size: 0.7rem;
  color: greenyellow;
}

.profile-dropdown-btn span {
  margin: 0;
  padding: 12px 0;
  text-align: center;
  height: 42px;
  font-family: 'Fredoka One';
  font-size: clamp(0.4rem, 2vw,0.8rem);
  letter-spacing: 2px;
  margin: 0 0.5rem;
  display: none;
}

.navbar-list.active {
  width: fit-content;
}

.profile-dropdown-list-item {
  width: fit-content;
  transition: background-color 0.2s ease-in, padding-left 0.2s;
  span{
    display: none;
  }
}

.profile-dropdown-list-item.hover{
  span{
    display: contents;
  }
}

.profile-dropdown-list-item a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 500;
  color: #ffffff;
}

.profile-dropdown-list-item a i {
  font-size: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--secondary);
  color: white;
  line-height: 2.3rem;
  text-align: center;
  border-radius: 50%;
  transition: margin-right 0.3s;
}

.content{
  width: 100%;
  padding: 0;
  background-color: #D9D9D9;
}

main{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.recordatorio{
  width: 40%;
  max-width: 750px;
  height: 80vh;;
  display: flex;
  flex-direction: column;
  background-color: #CAB97D;
  justify-content: center;
  align-items: center;
}

.agenda{
  background-color: #232323;
  width: 100%;
  height: 50%;
}

.citas{
  background-color: #e40c0c;
  width: 100%;
  height: 50%;
}

.boton{
  display: flex;
  justify-content: center;
  align-items: center;
}

.botones{
  width: 60%;
  height: 80vh;
  justify-content: center;
  align-items: center;
  display: flex;
  padding-top: 25px;
}

.botonesdos{
  width: 88%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.boton1, .boton2, a{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.botonesdos a{
  color: white;
  text-decoration: none;
  display: flex;
  margin: 10px;
  display: flex;
  background-color: #CAB97D;
  border-radius: 10px;
  align-items: center;
  flex: 1;
  text-align: center;
  padding: 10px;
  justify-content: center;
  height: 13vw;
  max-height: 90px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.boton i{
  font-size: clamp(1.1rem, 2vw, 1.3rem);
  margin: 0 15px 0 10px;
  color: white;
  background-color: rgba(212, 194, 149, 1);
  padding: 10px 12px;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.text{
  position: relative;
  text-align: left;
  padding: 0;
  margin-right: 10px;
}

.text p, h3{
  color: white;
  margin: 0;
  padding: 0;
}

.text p{
  font-size: clamp(0.5rem, 2vw, 0.7rem);
}

.text h3{
  font-size: clamp(0.5rem, 2vw, 1rem);
}

.boton hr{
  border: 0.5px solid white;
  margin: 0;
  height: 6vw;
  max-height: 40px;
}

.boton .text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.boton .icon {
  font-size: 1.5em;
}

