@import url('https://fonts.googleapis.com/css?family=Fredoka One');

*{
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Times New Roman', Times, serif, Helvetica, Arial, sans-serif;
  display: flex;
  align-items: center;
  min-height: 100%;
  background: linear-gradient(rgba(5,7,12,0.3), rgba(5,7,12,0.3)), url('../img/fondologin.jpg'), no-repeat center center fixed;
  width: 100%;
  background-size: cover;
}

header {
  position: relative;
  background-color: #232323;
  width: fit-content;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}

header h1 {
  writing-mode: vertical-rl;
  letter-spacing: 7px;
  font-size: clamp(1rem, 2.5vw, 1.5rem);
  transform: rotate(180deg);
  color: #fff;
  margin: 30px 0 ;
  font-weight: bold;
}

header img {
  width: 8vw;
  max-width: 60px;
}

main{
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-left: calc(30% - 110px);
}

h1{
  margin: 0;
  color: white;
  font-family: 'Fredoka One';
  letter-spacing: 1.5px;
  font-size: clamp(1.5rem, 2.5vw, 2rem);
}

h2{
  margin: 0;
  color: white;
  font-family: 'Fredoka One';
  letter-spacing: 1.5px;
  font-size: clamp(1.2rem, 2.5vw, 1.8rem);
}

p{
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 15px 0 20px;
  font-size: clamp(1.2rem, 2.5vw, 1.3rem);
}

a{
  color: white;
  font-size: 17px;
  text-decoration: none;
  margin: 15px 3px;
}

span{
  margin-bottom: 8px;
}

main{
  justify-content: center;
  margin: 0;
  margin-top: 0;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-box {
  background-color: #333; /* Color de fondo rojo */
  color: #ffffff;
  padding: 35px;
  text-align: center;
  width: 70vw;
  max-width: 70vh;
  border-radius: 10px; /* Valor para redondear las esquinas */
}

.buttons {
  margin-top: 20px;
}

a {
  font-size: large;
  background-color: #c8b87d;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  border-radius: 30px; /* Bordes redondos */
  transition: background-color 0.3s; /* Transición suave del color de fondo */
}

a:hover {
  background-color: #e0d4a0; /* Cambia el color al pasar el cursor */
}

.image-container {
  display: none; /* Oculta el contenedor de imagen */
}
