@import url('https://fonts.googleapis.com/css?family=Fredoka One');

:root {
  --secondary: #e4cf85;
  --dorado: #CAB97D;
  --secondary-light: #383A3F;
  --secondary-light-2: wheat;
  --shadow: 0px 2px 8px 0px var(--secondary-light);
}

*{
  box-sizing: border-box;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  min-height: 100vh;
  width: 100%;
  background-size: cover;
}

header {
  position: sticky;
  background-color: #232323;
  width: fit-content; /* Ajusta según el ancho que desees */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header2 {
  position: sticky;
}

.headersup {
  background-color: #383A3F;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh; /* Ajusta según necesites */
}

.headerinf {
  background-color: #272727;
  color: white;
  padding: 10px 15px;
  height: 6vh; /* Ajusta según necesites */
  display: flex;
  align-items: center;
  overflow: hidden;
}

/* El contenido principal debajo de las barras superiores */
.content > *:not(.header2) {
  overflow-y: auto;
  flex: 1;
}

/* Ajustes adicionales para elementos dentro del header */
header img {
  width: 8vw;
  max-width: 60px;
}

header h1 {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  color: white;
  margin: 30px 0;
  font-size: clamp(0.85rem, 2.5vw, 1.5rem);
  letter-spacing: 7px;
  font-weight: bold;
}

h1{
  margin: 0;
  color: white;
  font-family: 'Fredoka One';
  letter-spacing: 1.5px;
  font-size: clamp(1.5rem, 2.5vw, 2rem);
}

p{
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 15px 0 20px;
}

.headersup a{
  color: white;
  font-size: 17px;
  text-decoration: none;
  margin: 15px 3px;
}

#home{
  font-size: clamp(0.85rem, 2.5vw, 1.5rem);
  float: left;
  width: 38%;
  margin: 0;
}

#home2{
  display: inline-block;
  font-family: 'Fredoka One';
  font-size: clamp(1.2rem, 2.5vw, 1.5rem);
  padding-left: 50%;
  animation: marquee 15s linear infinite;
  width: fit-content;
  margin-right: 0;
}


@keyframes marquee {
  from {
      transform: translateX(100%);
  }
  to {
      transform: translateX(-100%);
  }
}

input{
  width: 100%;
  color: #232323;
  font-size: clamp(0.85rem, 2.5vw, 1rem);
  border: none;
  outline: none;
  background: transparent;
}

i{
  font-size: clamp(0.85rem, 2.5vw, 1rem);
  color: #232323;
  cursor: pointer;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  box-shadow: var(--shadow);
  width: 100%;
}

.navbar-list {
  position: relative;
  padding-right: 0.6rem;
  overflow: hidden;
  width: 0;
}


.navbar-list li {
  display: inline-block;
  margin: 0 0.5rem;
}

.navbar-list li a {
  font-size: 1rem;
  font-weight: 500;
  color: var(--black);
  text-decoration: none;
}

.profile-dropdown {
  position: relative;
  width: fit-content;
}

.profile-dropdown-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.9rem;
  font-weight: 500;
  width: 50px;
  border-radius: 50px;
  /* background-color: white;
  box-shadow: var(--shadow); */
  cursor: pointer;
  border: 1px solid var(--secondary);
  transition: box-shadow 0.2s ease-in, background-color 0.2s ease-in,
    border 0.3s;
}

.profile-dropdown-btn:hover {
  background-color: var(--secondary-light-2);
  box-shadow: var(--shadow);
  width: fit-content;
  color: #232323;
  padding-right: 0.5rem;
  span{
    display: contents;
    
  }
}

.profile-dropdown-btn.show-caption {
  background-color: var(--secondary-light-2);
  box-shadow: var(--shadow);
  width: fit-content;
  color: #232323;
  padding-right: 0.5rem;
  span{
    display: contents;
  }
}

.profile-img {
  width: 8vw;
  height: 8vw;
  max-width: 50px;
  max-height: 50px;
  border-radius: 50%;
  background: url(../img/profile-pic.jpg);
  background-size: cover;
}

.profile-img i {
  position: absolute;
  right: 0;
  bottom: 0.3rem;
  font-size: 0.7rem;
  color: greenyellow;
}

.profile-dropdown-btn span {
  margin: 0;
  padding: 12px 0;
  text-align: center;
  height: 42px;
  font-family: 'Fredoka One';
  font-size: clamp(0.4rem, 2vw,0.8rem);
  letter-spacing: 2px;
  margin: 0 0.5rem;
  display: none;
}

.navbar-list.active {
  width: fit-content;
}

.profile-dropdown-list-item {
  width: fit-content;
  transition: background-color 0.2s ease-in, padding-left 0.2s;
  span{
    display: none;
  }
}

.profile-dropdown-list-item.hover{
  span{
    display: contents;
  }
}

.profile-dropdown-list-item a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 500;
  color: #ffffff;
}

.profile-dropdown-list-item a i {
  font-size: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--secondary);
  color: white;
  line-height: 2.3rem;
  text-align: center;
  border-radius: 50%;
  transition: margin-right 0.3s;
}
